<robot
  name="jetson_bot_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0021983 0.18776 0.016223"
        rpy="0 0 0" />
      <mass
        value="8.4317" />
      <inertia
        ixx="0.21724"
        ixy="0.0030512"
        ixz="-0.00017795"
        iyy="0.097824"
        iyz="0.025788"
        izz="0.22705" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>
