<launch>
  <arg name="model" />
  <arg name="gui" default="False" />
  <arg name="rvizconfig" default="$(find jetson_bot_urdf)/rviz/urdf.rviz" />
  
  <param name="robot_description" textfile="$(find jetson_bot_urdf)/urdf/jetson_bot_urdf.urdf" />
  <param name="use_gui" value="$(arg gui)" />
  
  <node pkg="tf" type="static_transform_publisher" name="base_link" args="0 0 0 0 0 0 odom base_link 10" />  <!-- Ivan: really unsure about this transform. Rviz error went away, but still can be problem. -->
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
