<robot
  name="jetson_bot_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0023923 -0.019862 0.15073"
        rpy="0 0 0" />
      <mass
        value="7.7466" />
      <inertia
        ixx="0.18126"
        ixy="0.0002452"
        ixz="0.0032986"
        iyy="0.19288"
        iyz="-0.017305"
        izz="0.094914" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="laser">
    <inertial>
      <origin
        xyz="-3.6618E-35 0.019534 -9.8108E-19"
        rpy="0 0 0" />
      <mass
        value="0.4651" />
      <inertia
        ixx="0.00021948"
        ixy="-4.8382E-37"
        ixz="-6.195E-37"
        iyy="0.00031518"
        iyz="8.2852E-21"
        izz="0.00021948" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5708 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/laser.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/laser.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_joint"
    type="fixed">
    <origin
      xyz="0 0 0.189738"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="laser" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-1.1892798242584E-05 -0.00471049970558524 -0.0217483140477759"
        rpy="0 0 0" />
      <mass
        value="0.219988988845436" />
      <inertia
        ixx="7.33690677038934E-05"
        ixy="1.30989177138298E-08"
        ixz="5.38121515442941E-08"
        iyy="0.000428602035074722"
        iyz="-8.67208929243571E-06"
        izz="0.000429377926139386" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5708 0 1.5708" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="cl_joint"
    type="fixed">
    <origin
      xyz="0 0.05588 0.545338"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <!--<link
    name="camera_rgb_frame">
    <inertial>
      <origin
        xyz="-1.18927982425843E-05 -0.00471049970558524 -0.0217483140477759"
        rpy="0 0 0" />
      <mass
        value="0.219988988845436" />
      <inertia
        ixx="7.33690677038934E-05"
        ixy="1.30989177138323E-08"
        ixz="5.38121515442918E-08"
        iyy="0.000428602035074721"
        iyz="-8.67208929243571E-06"
        izz="0.000429377926139385" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/camera_rgb_frame.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/camera_rgb_frame.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="crf_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="camera_link" />
    <child
      link="camera_rgb_frame" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_rgb_optical_frame">
    <inertial>
      <origin
        xyz="-1.18927982425841E-05 -0.00471049970558524 -0.0217483140477759"
        rpy="0 0 0" />
      <mass
        value="0.219988988845436" />
      <inertia
        ixx="7.33690677038934E-05"
        ixy="1.30989177138295E-08"
        ixz="5.38121515442927E-08"
        iyy="0.000428602035074721"
        iyz="-8.67208929243571E-06"
        izz="0.000429377926139386" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/camera_rgb_optical_frame.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/camera_rgb_optical_frame.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="crof_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="camera_rgb_frame" />
    <child
      link="camera_rgb_optical_frame" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_depth_frame">
    <inertial>
      <origin
        xyz="-1.18927982425839E-05 -0.00471049970558513 -0.0217483140477759"
        rpy="0 0 0" />
      <mass
        value="0.219988988845436" />
      <inertia
        ixx="7.33690677038936E-05"
        ixy="1.30989177138306E-08"
        ixz="5.38121515442926E-08"
        iyy="0.000428602035074721"
        iyz="-8.67208929243574E-06"
        izz="0.000429377926139386" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/camera_depth_frame.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/camera_depth_frame.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="cdf_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="camera_link" />
    <child
      link="camera_depth_frame" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_depth_optical_frame">
    <inertial>
      <origin
        xyz="-1.1892798242584E-05 -0.00471049970558513 -0.0217483140477759"
        rpy="0 0 0" />
      <mass
        value="0.219988988845436" />
      <inertia
        ixx="7.33690677038936E-05"
        ixy="1.30989177138288E-08"
        ixz="5.38121515442928E-08"
        iyy="0.000428602035074721"
        iyz="-8.67208929243574E-06"
        izz="0.000429377926139386" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/camera_depth_optical_frame.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://jetson_bot_urdf/meshes/camera_depth_optical_frame.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="cdof_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="camera_depth_frame" />
    <child
      link="camera_depth_optical_frame" />
    <axis
      xyz="0 0 0" />
  </joint> -->
</robot>
